doctype html

html(lang="en")
head
    title 金服集团（澳洲）AUGS Financial Group
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")

body
div#info(style="text-align: center;")
    h3 Our Website is Temporarily Down for Maintenance
    p We are performing scheduled upgrade and maintenance. Our website should be back online shortly. Thanks for your patience.
    p If you wish to contact us as soon as possible, please find us through following methods:

    h3 网站维护中…
    p 您好，我们的网站正在进行例行升级和维护，新的网页马上会和大家见面。
    p 感谢您的耐心与支持，造成不便，敬请谅解。
    p 您依然可以通过其他以下途径与我们取得联系：

    p Phone（电话）: +61 2 8542 7812
    p Email （邮箱）：admin@augsfx.com.au
    p Wechat（微信）：adminAUGS

    img(src="qrcode.png")




